<div>
    <h2>Add New Book</h2>
    <form class="box bg vertical" (ngSubmit)="addBook()">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" [(ngModel)]="book.name" name="name" required /></td>
            </tr>
            <tr>
                <td><label for="authorFirstName">Author first name:</label></td>
                <td><input id="authorFirstName" [(ngModel)]="book.authorFirstName" name="authorFirstName" required /></td>
            </tr>
            <tr>
                <td><label for="authorLastName">Author last name:</label></td>
                <td><input id="authorLastName" [(ngModel)]="book.authorLastName" name="authorLastName" required /></td>
            </tr>
            <tr>
                <td><label for="popularity">Popularity:</label></td>
                <td><input id="popularity" [(ngModel)]="book.popularity" name="popularity" required /></td>
            </tr>
            <button class="box bg button" type="submit">Add Book</button>
        </table>
    </form>
</div>